body {
  background: $platinum
}

.container header {
  background: $platinum;

  & .main-title {
    color: $dark-blue-1;
  }
}

.container nav ul li {
  background: $platinum;
  color: $dark-blue-2;
}

.container main {
  color: $light-black-1;
}

.container footer {
  background: $platinum;
  color: $dark-blue-2;
}