$black-dark: #0B090A;
$black-light: #161A1D;
$red-darker: #660708;
$red-dark: #A4161A;
$red-plain: #BA181B;
$red-light: #E5383B;
$gray-dark: #B1A7A6;
$gray-plain: #D3D3D3;
$gray-light: #F5F3F4;
$white: #FFFFFF;