// source: https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0
$flickr-pink: #F72585;
$byzantine: #B5179E;
$purple: #7209B7;
$purple-alt: #560BAD;
$trypan-blue: #480CA8;
$trypan-blue-alt: #3A0CA3;
$persian-blue: #3F37C9;
$dodger-blue: #4895EF;
$vivid-sky-blue: #4CC9F0;

$aquamarine: #85FFC7;
$skobeloff: #297373;
$coral: #FF8552;
$platinum: #E6E6E6;
$onyx: #39393A;