// standard width
$page-width: 850px;

// Color variables
$aquamarine: #85FFC7;
$skobeloff: #297373;
$coral: #FF8552;
$onyx: #39393A;

// Typography variables
$font-main-title: 'Ubuntu', sans-serif;
$font-title: 'Inconsolata', monospace;
$font-text: 'Noto Serif', serif;

// new colors
// https://coolors.co/palette/8ecae6-73bfdc-58b4d1-219ebc-126782-023047-ffb703-fd9e02-fb8500-fb9017
$platinum: #E6E6E6;
$light-blue-1: #8ECAE6;
$light-blue-2: #73BFDC;
$light-blue-3: #58B4D1;
$light-blue-4: #219EBC;
$dark-blue-2: #126782;
$dark-blue-1: #023047;
$light-orange-1: #FFB703;
$light-orange-2: #FD9E02;
$dark-orange-1: #FB8500;
$dark-orange-2: #FB9017;
$light-black-1: #070218;