// standard width
$page-width: 850px;

// Color variables
$aquamarine: #85FFC7;
$skobeloff: #297373;
$coral: #FF8552;
$platinum: #E6E6E6;
$onyx: #39393A;

// Typography variables
$font-main-title: 'Ubuntu', sans-serif;
$font-title: 'Inconsolata', monospace;
$font-text: 'Noto Serif', serif;