@import './sass/colors';
@import './sass/layout';
@import './sass/typography';
@import './sass/reset';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $platinum
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;

  @include MQ('S') {
  }
  @include MQ('M') {
  }
  @include MQ('L') {
  }
}

.container header {
  background: $aquamarine;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.main-title {
  font-family: $font-main-title;
  font-size: 2rem;
  color: $skobeloff;
}

.main-subtitle {
  font-family: $font-title;
  color: $onyx;
  letter-spacing: 0.5rem;
}

.container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;

  & li {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-family: $font-title;
    background: $aquamarine;
    // border: 1px solid $aquamarine;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $coral;
      // border-bottom: 1px solid $coral;]
      color: $onyx;
    }

    & a {
      text-decoration: none;
      color: $onyx;
    }
  }
}

.container main {
  background: $platinum;
  padding: 2rem;
  font-family: $font-text;
}

.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 3rem;
  font-family: $font-title;
  color: $platinum;
  background: $onyx;

  & img {
    width: 2rem;
    margin: 2rem;
  }
}