@import './sass/colors';
@import './sass/layout';
@import './sass/mixins';
@import './sass/typography';
@import './sass/reset';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $platinum
}


.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  background: $skobeloff;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2rem;

  & .main-title {
    font-family: $font-main-title;
    font-size: 2.5rem;
    color: $aquamarine;
  }

  & .main-subtitle {
    font-family: $font-main-title;
    font-size: 1.3rem;
    color: $coral;
    letter-spacing: 0.5rem;
  }
}


.container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;

  & li {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-family: $font-title;
    background: $aquamarine;
    // border: 1px solid $aquamarine;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $coral;
      color: $onyx;
    }

    & a {
      @include customLink($onyx, $onyx);
    }
  }
}

main {
  background: $platinum;
  color: $onyx;
  padding: 2rem;
  font-family: $font-text;

  & a {
    text-decoration: none;
  }
}

.container .homeContent {
  & img {
    width: 100%;
    max-width: 540px;
  }
}

.container .projects {
  & nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include MQ(M) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @include MQ(L) {
    grid-template-columns: 1fr 3fr;
  }

}

.card-project {
  min-width: 5rem;
  max-width: auto;
  padding: 0.5rem;

  background-color: $aquamarine;
  border-radius: 0.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 3rem;
  font-family: $font-title;
  color: $platinum;
  background: $onyx;

  & img {
    width: 2rem;
    margin: 2rem;
  }

  & a {
    @include customLink($platinum, $aquamarine);
  }
}

.clean-link {
  text-decoration: none;
}