@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6E6;
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  background: #297373;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2rem;
}
header .main-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  color: #85FFC7;
}
header .main-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  color: #FF8552;
  letter-spacing: 0.5rem;
}

.container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.container nav ul li {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Inconsolata", monospace;
  background: #85FFC7;
  border-radius: 5px;
  cursor: pointer;
}
.container nav ul li:hover {
  background: #FF8552;
  color: #39393A;
}
.container nav ul li a {
  text-decoration: none;
  color: #39393A;
}
.container nav ul li a:hover {
  color: #39393A;
}

main {
  background: #E6E6E6;
  color: #39393A;
  padding: 2rem;
  font-family: "Noto Serif", serif;
}
main a {
  text-decoration: none;
}

.container .homeContent img {
  width: 100%;
  max-width: 540px;
}

.container .projects nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .container .projects {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media only screen and (max-width: 1200px) {
  .container .projects {
    grid-template-columns: 1fr 3fr;
  }
}

.card-project {
  min-width: 5rem;
  max-width: auto;
  padding: 0.5rem;
  background-color: #85FFC7;
  border-radius: 0.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  font-family: "Inconsolata", monospace;
  color: #E6E6E6;
  background: #39393A;
}
footer img {
  width: 2rem;
  margin: 2rem;
}
footer a {
  text-decoration: none;
  color: #E6E6E6;
}
footer a:hover {
  color: #85FFC7;
}

.clean-link {
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
